<a href="https://colab.research.google.com/github/Sushan-2003/Python_train/blob/main/Python_Training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1
bill_amt = float(input("enter the total bill amount: "))
if bill_amt > 1000:
  bill_amt = bill_amt - 0.2*bill_amt
elif bill_amt <= 1000 and bill_amt > 500:
  bill_amt = bill_amt - 0.1*bill_amt
else:
  print("no discount applied")
print(bill_amt)

enter the total bill amount: 2000
1600.0

In [2]:
#Q2
M = int(input("enter the marks: "))
if(M >= 90 and M <= 100):
  print("Grade A")
elif(M >= 70 and M <= 89):
  print("Grade B")
elif(M >= 50 and M <= 69):
  print("Grade C")
elif(M >= 0 and M < 50):
  print("Fail")
else:
    print("Invalid score")

enter the marks: 78
Grade B

In [3]:
#Q3
X = int(input("Enter the age: "))
if(X < 13 and X >= 0):
  print("Child")
elif(X >= 13 and X <= 19):
  print("Teen")
elif(X >= 20 and X <= 59):
  print("Adult")
else:
  print("Senior")

Enter the age: 55
Adult

In [6]:
#Q4
N = int(input("Enter a number: "))
if N%2 == 0:
  if N%5 == 0:
    print("Even and divisible by 5")
  else :
    print("Even and not divisible by 5")
else:
  if N%5 == 0:
    print("Odd and divisible by 5")
  else :
    print("Odd and not divisible by 5")

Enter a number: 34
Even and not divisible by 5

In [7]:
#Q5
Q = input("Enter username: ")
if Q == "john" or Q == "amy" or Q == "sita":
  print("login success")
else:
  print("login failed")

Enter username: john
login success

In [8]:
#Q6
a = int(input("Enter a: "))
b = int(input("Enter b: "))
if a > b:
    print("a is greater.")
elif b > a:
    print("b is greater.")
else:
    print("a and b are equal.")

Enter a: 10
Enter b: 15
b is greater.

In [9]:
#Q7
age = int(input("Enter age: "))
if age >= 18:
  print("Eligible for voting")
  if age >= 21:
    print("Eligible for driving")
else:
  print("Not eligible")

Enter age: 24
Eligible for voting
Eligible for driving

In [10]:
#Q8
year = int(input("Enter a year: "))
if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2020
Leap year

In [12]:
#Q9
a = "sushan"
b = "shradha"
c = "harsh"
d = "admin"
e = "manager"

x = input("Enter username: ")
y = input("Enter role: ")

if x==a or x==b or x==c:
  if y==d or y==e:
    print("login success")
  else:
    print("login failed")
else:
  print("wrong username")

Enter username: sushan
Enter role: manager
login success

In [ ]:
#Q10
x = float(input("Enter first number: "))
y = float(input("Enter second number: "))

if x=="+":